<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="WebDriver Manager Suite">
  <test name="Test ShutterBug Capabilities">
    <classes>
      <class name="examples.Test1_DefaultLocation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
